* {

    padding: 0;
    ;
    margin: 0;
    ;
}

html {
    scroll-behavior: smooth;
    /* font-size: 100%; */
    font-size: calc(15px + 0.390625vw);
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /* background-image: url(/image/background.jpg);
    background-size: 2000px;
    background-repeat: no-repeat; */
    color: white;
   
    
   
    
    
    
}

.navop {

    background-color: rgba(255, 254, 254, 0.095);
    border-radius: 10px;


    margin-top: 20px;

    display: flex;

    height: 12vh;
    width: 99vw;
    justify-content: space-around;



    align-items: center;

    

    list-style: none;
    color: white;




}

.navop a {
    text-decoration: none;
    color: white;
    font-size: 0.9375rem;



}

.navop a:hover {
    color: #ff7900;
}

.homepagetext {


    background-color: rgba(255, 254, 254, 0.095);
    width: 50%;
    height: 50%;
    text-align: start;
    font-size: 1.25rem;
    margin: auto;
    border-radius: 10px;
    margin-top: 10vh;
    word-spacing: 0.2em;
    padding-top: 6.25rem;
    text-align: center;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;


}

.letsstartbutton {
    width: fit-content;
    margin-left: 300px;
    margin-top: 50px;
    background-color: #ff7900;
    border-radius: 90px;
}

.letsstartbutton a {
    text-decoration: none;
    font-size: 1.25rem;
    padding: 20px;
    color: white;

}

.letsstartbutton a:hover {

    text-decoration: underline;


}

.logotext {
    align-content: end;
    color: #ff7900;
    margin-left: 20px;
    font-size: 1.25rem;

}

.href {

    
    display: flex;
    align-items: center;
    align-content: center;
    gap: 100px;
    margin: auto;
    font-size: 1.375rem;

}

.logotext h1:hover {
    color: red;
    cursor: default;
}




.Welcome:hover {
    color: red;
    cursor: default;

}

.Ename {
    display: block;

    width: fit-content;
    margin: auto;
    margin-top: 30px;



}

/* .Ename:hover{
    border: 2px solid rgba(0, 0, 255, 0.611);
} */
.Ename input {
    font-size: 1.25rem;
}

.btn {
    border: none;

    font-size: 1.25rem;
    margin-top: 40px;
    height: 5vh;
    width: 8vw;
    border-radius: 0.5em;
    color: white;
    background-color: #ff770086;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    cursor: pointer;
}

.btn:hover {
    background-color: #ff7900;
}





.firsthalf {
    top: 0;
    background-blend-mode: darken;
    background-repeat: no-repeat;
    margin: auto;
    background: rgba(0, 0, 0, 0.491) url(/image/backmain.jpg);
    background-blend-mode: darken;
    background-size: 100vw 93vh;
    background-repeat: no-repeat;
    border: none;
    width: 100vw;
    height: 90vh;
    padding: 10px;
}

.heading {
    font-size: 1.25rem;
    color: #ff7900;
    text-align: center;

}

.lowheading {
    margin-top: 15px;
    color: black;
    font-size: 0.9375rem;
    text-align: center;
    word-spacing: 10%;
}

.secondhalf {
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.045);
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 86vw;
    height: 40vh;

    margin: auto;
    display: flex;
    margin-top: 50px;
    gap: 50px;
}

.thirdhalf {
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.045);
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 86vw;
    height: 40vh;

    margin: auto;
    display: flex;
    margin-top: 50px;
    gap: 50px;
    flex-direction: row-reverse;

}

.fcol {
    width: 50%;

}

.fimg {
    align-items: center;
}

.secondhalf img {
    width: 30vw;
    height: 30vh;
    border-radius: 10px;

}

.thirdhalf img {
    width: 30vw;
    height: 30vh;
    border-radius: 10px;

}

.contactus {
    background-blend-mode: darken;
    background-repeat: no-repeat;


    margin: 0;
    background: rgba(0, 0, 0, 0.79) url(/image/backmain.jpg);
    background-blend-mode: darken;
    background-size: 100vw 93vh;
    background-repeat: no-repeat;
    border-top: solid black;

    width: 100vw;
    height: 50vh;

    padding: 10px;
    margin-top: 50px;

}

.contactsec {

    border-radius: 10px;
    width: 50%;
    height: 80%;
    margin: auto;
    margin-top: 50px;
    
    background-color: rgba(255, 254, 254, 0.095);
    padding: 10px;
}

.center {

    display: flex;
    justify-content: center;
    margin-top: 30px;
    align-content: center;
}

.contactsec input {
    width: 40vw;
    height: 4vh;
    border-radius: 10px;
}

.contactsec textarea {
  
    width: 40vw;
    height: 4vh;
    border-radius: 10px;
}

.contactsec ::placeholder {
    font-size: 0.9375rem;
    text-align: center;
    word-spacing: 5px;
}
.csubmitbutton input{
    width: 8vw;
    height: 4vh;
    cursor: pointer;
    
}
.csubmitbutton {
    display: block;
    border: none;
    

    font-size: 1.25rem;
    margin-top: 40px;
    height: 5vh;
    width: 8vw;
    margin: auto;
    border-radius: 0.5em;
    color: white;
    background: none;
   
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    cursor: pointer;
    
    
    
    
    
}
   

.secondhalf:hover {
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.045);
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 80vw;

    margin: auto;
    display: flex;
    margin-top: 50px;
    gap: 50px;
    border: 2px solid #ff7900;
}

.thirdhalf:hover {
    border: 2px solid #ff7900;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.045);
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 80vw;

    margin: auto;
    display: flex;
    margin-top: 50px;
    gap: 50px;
}
.letsgobg{
    
   
    background-blend-mode: darken;
    background-repeat: no-repeat;
    margin: auto;
    background: rgba(0, 0, 0, 0.491) url(/image/backmain.jpg);
    background-blend-mode: darken;
    background-size: 100vw 93vh;
    background-repeat: no-repeat;
    border: none;
    width: 100vw;
    height: 90vh;
    padding: 10px;
}

.Welcome{
    font-size: 2.5rem;
    color: #ff7900;
}
.pmtext{
    font-size: 2.5rem;
    color: #ff7900;
}
/* Lets go page  */

.letsgopagetitle{
   
    background-color: rgba(255, 254, 254, 0.095);
    width: 50vw;
    height: 40vh;
    text-align: start;
    font-size: 1.25rem;
    margin: auto;
    border-radius: 10px;
    margin-top: 10vh;
    word-spacing: 0.2em;
    padding-top: 100px;
    text-align: center;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.letsgopagebody{
    background-color:rgb(255, 236, 210);
    
}
.letsgoform{

    background-color: rgba(0, 0, 0, 0.009);
   
    display: block;
    width: 50%;
    height: 50vh;
    margin: auto;
    margin-top: 100px;
    
   
    font-size: 1.5rem;
    color: olive;
    border: 8px solid olive;
    border-radius: 10px;
    font-weight: 100;
   
}
.letsgoform input{
    font-size: 1rem;
    padding: 0.5rem;
    
}
.forminfo{
    display: block;
    
    width: fit-content;
    height: fit-content;
    margin: auto;
     margin-top: 10vh;
}
.submitforminfo{
    border: none;
    border-radius: 10px;
    margin-top: 2vh;
    cursor: pointer;
    
   
   
}
.pdf{
    width: 100vw;
    height: 100vh;
}















/* @media (max-width:390px) {
    .homepagetext {


        background-color: rgba(255, 254, 254, 0.095);
        width: 292px;
        height: 108px;
        text-align: start;
        font-size: 10px;
        margin:auto;
        border-radius: 10px;
        margin-top: 6px;
        word-spacing: 0.2em;
        padding-top: 11px;
        text-align: center;
        color: white;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    .Welcome{
        font-size: 15px;
        color: #ff7900;
    }
    .pmtext{
        font-size: 15px;
        color: #ff7900;
    }
    
    
    .firsthalf {
        top: 0;;
    
    
        background-blend-mode: darken;
        background-repeat: no-repeat;
    
    
        margin: auto;
        background: rgba(0, 0, 0, 0.491) url(/image/backmain.jpg);
        background-blend-mode: darken;
        background-size: 390px;
        background-repeat: no-repeat;
        border: none;
        
    
        height: 201px;
    
        padding: 10px;
    }
    .navop {
        background-color: rgba(255, 254, 254, 0.095);
        border-radius: 10px;
        
        width: 374px;
        margin-left: -10;
        margin-top: 20px;
        display: flex;
        height: 60px;
        align-items: center;
        
        list-style: none;
        color: white;
    
    
    }
    .logotext {
        align-content: end;
        color: #ff7900;
        margin-left: 10px;
        font-size: 12px;
        
        width: 110px;
    
    }
    .href {
      
        margin-left: 10px;
        width: 200px;
        margin-top: 2px;
        display: flex;
        align-items: center;
        align-content: center;
        justify-content: center;
        padding: 10px;
        
        gap: 25px;
        
    
    
    
    }
    .navop a {
        text-decoration: none;
        color: white;
        font-size: 10px;
    
    
    
    }
    
    .btn {

        border: none;
        font-size: 15px;
        margin-top: 27px;
        height: 30px;
        width: 90px;
        border-radius: 10px;
        color: white;
        background-color: #ff770086;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        cursor: pointer;
    
    
    
}
.secondhalf {
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.045);
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    align-content: center;
    

    margin: auto;
    display: flex;
    margin-top: 50px;
    width: 340px;
    border: solid #ff7900
    
}
.secondhalf img {
    width: 100px;
    height: 100px;
    border-radius: 10px;
    
}
.thirdhalf img {
    width: 100px;
    height: 100px;
    border-radius: 10px;}
.thirdhalf{
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.045);
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    align-content: center;
    

    margin: auto;
    display: flex;
    margin-top: 50px;
    width: 340px;
    border: solid #ff7900
}

.heading {
    font-size: 15px;
    color: #ff7900;
    text-align: center;

}

.lowheading {
    margin-top: 15px;
    color: black;
    font-size: 10px;
    text-align: center;
    word-spacing: 10%;
}
.contactus {
    background-blend-mode: darken;
    background-repeat: no-repeat;


    margin: 0;
    background: rgba(0, 0, 0, 0.79) url(/image/backmain.jpg);
    background-blend-mode: darken;
    background-size: 390px;
    background-repeat: no-repeat;
    border-top: solid black;

    height: 295px;

    padding: 10px;
    margin-top: 50px;

}
.contactsec {

    background-color: rgba(255, 254, 254, 0.095);
    width: 292px;
    height: 162px;
    text-align: start;
    font-size: 10px;
    margin:auto;
    border-radius: 10px;
    margin-top: 6px;
    word-spacing: 0.2em;
    padding-top: 11px;
    text-align: center;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.center {
    display: flex;
    justify-content: center;
    margin-top: 2px;
    align-content: center;}
.csubmitbutton {
        margin-top: 10px;
        margin-left: 1px;
        width: fit-content;
    }  
.contactsec input {
        width: 200px;
        height: 27px;
        border-radius: 10px;
        font-size: 10px;
    }
.contactsec textarea {
        width: 200px;
        height: 27px;
        border-radius: 10px;
    }
} */
@media (min-width:768px) {
    html {
        font-size: 10px;
    }
}
@media (min-width:1024px) {
    html {
        font-size: 12px;
    }
}
@media (min-width:1280px) {
    html {
        font-size: 15px;
    }
    
}
@media (min-width:1366px) {
    html {
        font-size: 15px;
    }
    
}
@media (min-width:1600px) {
    html {
        font-size: 15px;
    }
    
}
@media (min-width:2000px) {
    html {
        font-size: 30px;
    }
    
}

@media (min-width:2560px) {
    html {
        font-size: 20px;
    }
    
}
@media (min-width:3440px) {
    html {
        font-size: 25px;
    }
    
}
@media (min-width:3840px) {
    html {
        font-size: 30px;
    }
    
}
@media (min-width:9999px) {
    html {
        font-size: 150px;
    }
    
}



